.container {
    height: auto;
    width: 40%;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    background: lightblue;
    border: 1px solid lightcyan;
    border-radius: 3px;
}

label {
    margin-top: 10px;
}